html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
}

/* Layout */
.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: rem 1fr 5rem;
  height: 100%;
}
header {
  grid-area: header;
  background-color:black;
  padding:32px;
  color: goldenrod;
}
header a:hover {
  color:white;
}
main {
  grid-area: main;
  padding: 1.5rem;
}
footer {
  grid-area: footer;
  background-color: black;
  padding:10px;
  color: goldenrod;
}
.foot{
  text-align: center
}
/* Common */
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}

a {
  text-decoration: none;
}
a:hover {
  color: red;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
}
input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  background-color: #f8f8f8;
  cursor: pointer;
}
input:hover,
select:hover,
textarea:hover,
button:hover {
  border: 0.1rem #404040 solid;
}
button.primary {
  background-color: goldenrod;
}
button.block {
  width: 100%;
}
button.small {
  font-size: 1.2rem;
}
/* Header */
header a {
  color: goldenrod;
  padding: 1rem;
}
a.brand {
  color: goldenrod;
  font-size: 2rem;
  font-weight: bold;
}
.badge {
  background-color: #f02020;
  color: goldenrod;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}
.dina{
  text-align: center;
  font-weight: bolder;
  font-size: 5rem;
  color: navy;
}
.handmade{
  text-align: center;
  margin-top: -50px;
}
.weeks{
  text-align: center;
  margin-top: -20px;
}
.measure{
  text-align: center
}
.materials{
  text-align: center
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.center {
  justify-content: center;
}
.row.top {
  align-items: flex-start;
}
.row.start {
  justify-content: flex-start;
}
.col-1 {
  flex: 1 1 25rem;
}
.col-2 {
  flex: 2 1 50rem;
}
.col-3 {
  flex: 32 1 75rem;
}
.min-30 {
  min-width: 30rem;
}
.p-1 {
  padding: 1rem;
}
/* Aside */
.category-list{
 color: white;
}
.categories{
  color: goldenrod;
}
aside {
  position: fixed;
  width: 30rem;
  height: 100%;
  background-color: black;
  z-index: 1000;
  transform: translateX(-30rem);
  transition: all 0.5s;
}
aside.open {
  transform: translateX(0);
}
button.open-sidebar {
  font-size: 2rem;
  padding: 0.2rem 0.5rem;
  margin: 0 0.5rem;
  background: none;
  color: #ffffff;
  cursor: pointer;
  margin-left: -2rem
}
button.open-sidebar:hover {
  border-color:white;
}
aside ul {
  padding: 0;
  list-style: none;
}
aside li {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
button.close-sidebar {
  padding: 0.3rem 0.8rem;
}
/* 
/* Image */
img {
  border-radius: 0.5rem;
  
}

img.medium {
  max-width: 29rem;
  width: 100%;
  margin-left: 1px;
  padding: 5px;
  height: 100%;
  height: auto;
  max-height: 265px
}
img.large {
  width: 100%;
  margin-top: 8px;
  margin-left: -4px;
  padding: -2rem;
 
}
/* 
/* Card */
.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  padding: 1rem
  
}

.card-body {
  padding: 0.5rem;
}
.price {
  font-size: 2rem;
}
/* Rating */
.rating span {
  color: goldenrod;
  margin: 0.1rem;
}
.rating span:last-child {
  color: #404040;
}
/* Alert */
.loading {
  display: block !important;
  align-items: center;
  font-size: 5rem;
  color:goldenrod;
}
.success {
  color: #20a020;
}
.danger {
  color: #a02020;
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}
.alert-success {
  color: #20a020;
  background-color: #eeffe0;
}
/* Form */
.form {
  max-width: 60rem;
  margin: 0 auto;
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form label {
  margin: 1rem 0;
}
/* Dropdown */
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 1;
  background-color: black;
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/* Table */
.table {
  width: 100%;
  border-collapse: collapse;
}
.table tbody tr:nth-of-type(odd) {
  background-color: #f4f4f4;
}
.table td,
.table th {
  text-align: left;
  border: 0.1rem solid #e4e4e4;
  padding: 0.5rem;
}
.table button {
  margin: 0 0.2rem;
}


/* Search */
.search button {
  border-radius: 0 0.5rem 0.5rem 0;
  border-right: none;
  margin-right: 0.5rem;
  cursor: pointer;
}
.search input {
  border-radius: 0.5rem 0 0 0.5rem;
  border-right: none;
  margin-left: 0.5rem;
}

.active {
  font-weight: bold;
}

/* Pagination */
.pagination a {
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.pagination a.active {
  font-weight: bold;
}

/* small screen for home screen forward */

@media(max-width:450px) {
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
 
  }
  header {
    grid-area: header;
    background-color: black;
    padding:10px;
  }
  
  header a:hover {
    color:white;
  }
  a.brand {
    color: goldenrod;
    font-size: 2rem;
    font-weight: bold;
    margin-left: 3.2px
  }
  button.open-sidebar{
    margin-left: 0.2rem
  }
  .search input {
    border-radius: 0.5rem 0 0 0.5rem;
    border-right: none;
    margin-top: 2rem;
    margin-left:0.2rem;
    
  }
  .search button {
    border-radius: 0 0.5rem 0.5rem 0;
    border-right: none;
    margin-top: 2rem;
    margin-left: -10px;
  }

  div.drop{
    margin-left: 22rem;
    font-size: 1rem;
    margin-top: -4.3rem
  }
  div.dropdown{
    margin-left: 13.9px
  }

  .dropdown {
    display: inline-block;
    position: relative;
    margin-left: 3rem
    
  }
  .dropdown-content {
    position: absolute;
    display: none;
    right: 0;
    min-width: 12rem;
    z-index: 1;
    background-color:black;
    margin: 0;
    margin-top: 0.4rem;
    border-radius: 0.5rem;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dina{
    text-align: center;
    font-size: 3rem;
    color: darkblue;
    margin-top: 0.3rem;
  }
  .handmade{
    text-align: center;
    margin-top: -10px;
  }
  .weeks{
    text-align: center;
    margin-top: 2px;
  }
  
  img.medium {
    max-width: 29rem;
    width: 100%;
    padding: 5px;
  }
  img.large {
    width: 100%;
    margin-top: 1rem;
  }

  .back{
    margin-left: 3rem;
    margin-top: 10rem
  }
   .card-body{
   margin-top: 11rem;
  }
  .results{
    margin-top: 2rem;
  }
  .productlist{
    margin-top: 6rem;
  }
  .user-edit{
    margin-top: 5rem;
  }
  .product-edit{
    margin-top: 8.5rem;
  }
  
  .user-profile{
    margin-top: 9rem;
  }
  
  .users{
    margin-top: 10rem
  }
  
  .request{
    margin-top: 3rem
  }
  .sign{
    margin-top: 9rem;
  }
  .create{
    margin-top: 9rem;
  }
  .table{
    font-size: 0.8rem
  }
  .productlist{
    margin-top:20rem;
  }
  .primary-create{
    margin-top: 18rem;
    margin-right:-0.2rem;
    background-color: goldenrod;
  }
  .user-edit{
    margin-top:10rem
  }
  .row.center{
    margin-top: 3rem;
  }
}


/* contact form */

.box {
  border: solid black 3px;
  width: 100%;
  height: auto;
  opacity: 0.8;
  background-color: black;
  
}

.name2 {
  display: flex;
  margin-top: 1.5rem

}
.phone {
  display: flex;
  justify-items: flex-start;
  margin-top: 1.5rem


}
.email {
  display: flex;
  margin-top: 1.5rem;
}
.available{
  margin-top: 1rem;
  margin-left: 2.85rem;
}
.dropdown{
  margin-left:1.2rem
}
.contactUs{
  text-align: center;
}
a.contact{
  margin-top: 0.1rem;
  text-align: center;
  color:blue;
}
a.contact:hover{
color:red
}
.call{
  color:darkblue;
  font-size: 2rem
}
.mail{
  color:darkblue;
  font-size: 2rem;
}
.all{
  margin-top: -3px
}
.write{
  text-align: center;
  color: darkblue
}
.uclassic{
  margin-top: 1rem
}
.instagram {
  color:white;
}


/* 

@media(min-width:800px) {
.box {
   max-width: 35%;
   margin-left: 405px;
  }

} */
